{% extends "_layout.html" %}

{% block title %}Acceso{% endblock %}

{% block head %}  
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
<h1>Login</h1>

<form method="post" action="/account/submit?returnUrl=/home/landing">
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" name="email" value="{{email}}" class="form-control">
        {% if let Some(value) = email_err %}
        <div class="invalid-feedback" style="display: inline-block;">
            {{value}}
        </div>
        {% endif %}
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" name="password" value="{{password}}" class="form-control">
        {% if let Some(value) = password_err %}
        <div class="invalid-feedback" style="display: inline-block;">
            {{value}}
        </div>
        {% endif %}      
    </div>
    <a class="btn btn-secondary">Registro</a>
    <button type="submit" class="btn btn-primary">Entrar</button>
    {% if let Some(value) = server_err %}
        <div class="invalid-feedback" style="display: inline-block;">
            {{value}}
        </div>
    {% endif %}
</form>
{% endblock %}

